---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import AnimationDots from '../components/qwik/AnimatingDots'
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="overflow-x-hidden antialiased">
		<main class="relative min-h-[100vh] flex justify-center items-center overflow-hidden gap-20">
      <div class="relative flex gap-8 gap-12 flex-col">
        <h1 class="font-heading text-5xl md:text-7xl lg:text-8xl relative text-center">Oh no!</h1>
        <p class=" text-md md:text-lg">This is not the page you are looking for</p>
        <AnimationDots />
      </div>
      <div class="absolute top-[50%] left-[50%] h-[80%] w-[80%]"></div>
		</main>
	</body>
</html>

