---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/tailwind.css";
import { Header } from "../components/solid/header";
import Hero from "../components/homepage/Hero.astro";
import Work from "../components/homepage/Work.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="overflow-x-hidden antialiased">
    <Header client:load />
    <main id="main">
      <Hero />
      <Work />
    </main>
  </body>
</html>
